html {
    font-family: 'Open Sans';

}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hero {
    display: block;
    width: 100%
}

#home-header {
    text-align: center;
}

.center-text {
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

fieldset {
    margin: 4rem 10rem;
    border-color: black;
    border-width: 2px;
}

legend {
    font-weight: bold;
}

.form-items {
    display: flex;
    justify-content: center;
    padding: .5rem;

}

#name, #email, #comments {
    border-color: black;
    border-width: 1px;

}

#letter-signup {
    margin: auto 15rem;
    border-color: black;
    border-width: 1px;
    border-radius: 15%
}

#about-header {
    text-align: center;
}

#about-subheading {
    text-align: center;
}

#competition-links {
    margin-top: 4rem;
}

.team-pictures {
    height: 10rem;
    width: 12rem;
    margin: 1rem 1rem;
}

#team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
